<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Game!</title>
    </head>
    <body>
        <p>Decision 1: You are shopping online, you decide to…</p>
        <p>A: Buy some masks</p>
        <p>B: No masks please</p>
        <br>
        <br>
        <p>Decision 2: Your county is encouraging everyone to participate in a free vaccination program, you decide to…</p>
        <p>A: Get vaccinated</p>
        <p>B: No vaccination please</p>
        <br>
        <br>
        <p>Decision 3: You are going to work, you decide to…</p>
        <p>A: Wear a mask</p>
        <p>B: Wear a scarf as a mask</p>
        <br>
        <br>
        <p>Decision 4: You meet a drug dealer on your way home, you decide to…</p>
        <p>A: Do something</p>
        <p>B: Directly go home</p>
        <br>
        <br>
        <p>Decision 5: You just back home, you decide to…</p>
        <p>A: Wash your hands</p>
        <p>B: Get some food</p>
        <br>
        <br>
        <p>Decision 6: You are invited to your boss’s party, you decide to…</p>
        <p>A: Have fun</p>
        <p>B: Stay at home</p>
        <br>
        <br>
        <p>Decision 7: Due to the recent COVID-19 status, your company offers remote work mode and in-person work mode during the pandemic, you decide to…</p>
        <p>A: Online work is the best</p>
        <p>B: I wanna see my colleagues</p>
        <br>
        <br>
        <p>Decision 8: You have work due at 7 a.m. on tomorrow morning, and you haven’t done anything yet; you decide to…</p>
        <p>A: Stay up and finish the work</p>
        <p>B: Go to bed</p>
        <br>
        <br>
        <p>Decision 9: You are free on Sunday after finishing your work, you decided to…</p>
        <p>A: Gym Time</p>
        <p>B: Stay in bed</p>
        <p>C: Hang out with friends</p>
        <br>
        <br>
        <p>Decision 10: You are picked for random screening of COVID-19, and you took the test…</p>
        <p>A: Tested positive</p>
        <p>B: Tested negative</p>
        <br>
        <br>
        <a href="/find_your_keys">Find your keys here!</a>
    </body>
    <body>
        <p>Decision 1</p>
        <p>A: P+20 & W-20</p>
        <p>B: P-10 & W+10</p>
        <br>
        <br>
        <p>Decision 2</p>
        <p>A: I+20 & P+10 & S-20</p>
        <p>B: I-20 & P-10</p>
        <br>
        <br>
        <p>Decision 3</p>
        <p>A: P+10</p>
        <p>B: P+5</p>
        <br>
        <br>
        <p>Decision 4</p>
        <p>A: I-20 & W-20</p>
        <p>B: I+20 & W+20</p>
        <br>
        <br>
        <p>Decision 5</p>
        <p>A: P+10</p>
        <p>B: P-10</p>
        <br>
        <br>
        <p>Decision 6</p>
        <p>A: S+20</p>
        <p>B: S-10</p>
        <br>
        <br>
        <p>Decision 7</p>
        <p>A: S-20 & P+10</p>
        <p>B: S+20 & P-10</p>
        <br>
        <br>
        <p>Decision 8</p>
        <p>A: I-20 & W+20</p>
        <p>B: I+20 & W-20</p>
        <br>
        <br>
        <p>Decision 9</p>
        <p>A: I+20 & P-10</p>
        <p>B: I-20 & S-20</p>
        <p>C: S+20 & P-20 & W-20</p>
        <br>
        <br>
        <p>Decision 10</p>
        <p>A: S-20</p>
        <p>B: W-10</p>
        <br>
        <br>

    </body>
</html>