<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Game!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <p>Decision 1: You are shopping online, you decide to…</p>
        <p class='hello'>A: Buy some masks</p>
        <p class='hello'>B: No masks please</p>
        <br>
        <br>
        <p>Decision 2: Your county is encouraging everyone to participate in a free vaccination program, you decide to…</p>
        <p class='hello'>A: Get vaccinated</p>
        <p class='hello'>B: No vaccination please</p>
        <br>
        <br>
        <p>Decision 3: You are going to work, you decide to…</p>
        <p class='hello'>A: Wear a mask</p>
        <p class='hello'>B: Wear a scarf as a mask</p>
        <br>
        <br>
        <p>Decision 4: You meet a drug dealer on your way home, you decide to…</p>
        <p class='hello'>A: Do something</p>
        <p class='hello'>B: Directly go home</p>
        <br>
        <br>
        <p>Decision 5: You just back home, you decide to…</p>
        <p class='hello'>A: Wash your hands</p>
        <p class='hello'>B: Get some food</p>
        <br>
        <br>
        <p>Decision 6: You are invited to your boss’s party, you decide to…</p>
        <p class='hello'>A: Have fun</p>
        <p class='hello'>B: Stay at home</p>
        <br>
        <br>
        <p>Decision 7: Due to the recent COVID-19 status, your company offers remote work mode and in-person work mode during the pandemic, you decide to…</p>
        <p class='hello'>A: Online work is the best</p>
        <p class='hello'>B: I wanna see my colleagues</p>
        <br>
        <br>
        <p>Decision 8: You have work due at 7 a.m. on tomorrow morning, and you haven’t done anything yet; you decide to…</p>
        <p class='hello'>A: Stay up and finish the work</p>
        <p class='hello'>B: Go to bed</p>
        <br>
        <br>
        <p>Decision 9: You are free on Sunday after finishing your work, you decided to…</p>
        <p class='hello'>A: Gym Time</p>
        <p class='hello'>B: Stay in bed</p>
        <p class='hello'>C: Hang out with friends</p>
        <br>
        <br>
        <p>Decision 10: You are picked for random screening of COVID-19, and you took the test…</p>
        <p class='hello'>A: Tested positive</p>
        <p class='hello'>B: Tested negative</p>
        <br>
        <br>
        <a href="/find-your-keys">Find your keys here!</a>
    </body>
</html>