<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Find your keys here!</title>
    </head>
    <body>
        <p>Decision 1</p>
        <p>A: P+20 & W-20</p>
        <p>B: P-10 & W+10</p>
        <br>
        <br>
        <p>Decision 2</p>
        <p>A: I+20 & P+10 & S-20</p>
        <p>B: I-20 & P-10</p>
        <br>
        <br>
        <p>Decision 3</p>
        <p>A: P+10</p>
        <p>B: P+5</p>
        <br>
        <br>
        <p>Decision 4</p>
        <p>A: I-20 & W-20</p>
        <p>B: I+20 & W+20</p>
        <br>
        <br>
        <p>Decision 5</p>
        <p>A: P+10</p>
        <p>B: P-10</p>
        <br>
        <br>
        <p>Decision 6</p>
        <p>A: S+20</p>
        <p>B: S-10</p>
        <br>
        <br>
        <p>Decision 7</p>
        <p>A: S-20 & P+10</p>
        <p>B: S+20 & P-10</p>
        <br>
        <br>
        <p>Decision 8</p>
        <p>A: I-20 & W+20</p>
        <p>B: I+20 & W-20</p>
        <br>
        <br>
        <p>Decision 9</p>
        <p>A: I+20 & P-10</p>
        <p>B: I-20 & S-20</p>
        <p>C: S+20 & P-20 & W-20</p>
        <br>
        <br>
        <p>Decision 10</p>
        <p>A: S-20</p>
        <p>B: W-10</p>
        <br>
        <br>

    </body>
</html>