<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVID-19_Simulator</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <p class='hello02' >Hi! Welcome to COVID-19 Simulator! You are in the year 2020 now. This simulator tries to replicate situations, environments, and people you may encounter in 2020.</p>
        <p></p>
        <p class='hello02' >You have four attributes at the beginning of this game and the number represents your current points of this attribute. The initial points of all attributes are 50 out of 100. Remember, your success depends on these!</p>
        <p></p>
        <p class='hello'>Immunization: 50 / 100</p>
        <p class='hello'>Protection: 50 / 100</p>
        <p class='hello'>Social: 50 / 100</p>
        <p class='hello'>Wealth: 50 / 100</p>
        <p></p>
        <p>Keep in mind, your decision matters :/ Enjoy! </p>
        <p></p>
        <a href="/create-game">Begin the game!</a>
    </body>
</html>