<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Game!</title>
    </head>
    <body>
        <p>You are shopping online, you decide to…</p>
        <form method="post">
            <label for="title">Todo title:</label>
            <br />
            <input type="text" id="title" name="title">
            <br />
            <br />
            <label for="description">Todo description:</label>
            <br />
            <input type="text" id="description" name="description">
            <br />
            <br />
            <input type="submit" value="Buy some masks">
        </form>
        <a href="/round01-decision01">Buy some masks</a>
        <p></p>
        <a href="/round01-decision02">No masks please</a>
        <p class='hello'>Immunization: 50 / 100</p>
        <p class='hello'>Protection: 50 / 100</p>
        <p class='hello'>Social: 50 / 100</p>
        <p class='hello'>Wealth: 50 / 100</p>
    </body>
</html>